@charset "UTF-8";

:root{
    --azulEscuro: #006CE3;
    --azulClaro: #0583F2;
    --preto: #000000;
    --branco: #ffffff;
    --vintage: #fdf9e1;
    --cinza: #c3cef7;
    --fundoAzul:#5facff ;
}


body{
    width: 99%;
    
    background-color: var(--azulClaro);
}

.back{
    width: 100%;
    
    background-color: var(--azulClaro);
    display: none;
    justify-content: center;
    align-items: center;
}

.iconVoltar{
    width: 100%;
    margin-left: 50px;
}

.container{
    background: rgb(222, 248, 255);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

    width: 1080px;
    min-height: 800px;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;

}

img{
    width: 400px;
    margin-bottom: 50px;
}

.divisao{
    margin: 0;
    width: 65%;

    font-size: 1.7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link{
    background-color: var(--azulClaro);
    width: 270px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--preto);

    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

    border-radius: 5px;
    border: 0.5px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 8px;
}

.link:hover{
    background-color: ;
    width: 275px;
    font-size: 1.2em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

hr{
    border: 1px solid black;
    width: 70%;
}